//COLORS
$color-theme-day: #fff;
$color-theme-dark: #444;

//FONT SIZES
$default-font-size: 62.5%; //10px -> 1rem

//LINE HEIGHTS

//FONT FAMILIES

$white:#fff;

$white-color: #f9f5eb;
$white-bg-section: #D8D8D8;
$white-second-color: #e4dccf;
// $white-text: #ea5455;
$white-text: #ff0018;
$white-main-color: #002b5b;

$dark-color: #2c3333;
$dark-bg-section:#4D4D4D;
$dark-bg-section-o:#646464;
$dark-second-color: #395b64;
$dark-text: #a5c9ca;
$dark-main-color: #e7f6f2;

//LOGO COLORS
$color-html: #f06529;
$color-css: #2965f1;
$color-bootstrap: #563d7c;
$color-sass: #cc6699;
$color-js: #f0db4f;
$color-js-logo: #323330;
$color-react: #61dbfb;
$color-node-logo: #3c873a;
$color-node: #303030;
$color-wordpress: #00749c;
$color-php: #8993be;
$color-php-logo: #232531;
$color-postgre-logo:  #0064a5;
$color-tailwind:  #31C4F3;

//SKILLS
$skills-html: 80%;
$skills-css: 70%;
$skills-sass: 40%;
$skills-bootstrap: 60%;
$skills-javascript: 50%;
$skills-react: 10%;
$skills-nodejs: 30%;
$skills-wordpress: 70%;


//MEDIA
$media-phone-min : 320px;
$media-phone-max: 480px;
$media-tablet-min: 481px;
$media-tablet-max: 768px;
$media-laptop-min: 769px;
$media-laptop-max: 1024px;
$media-desktop-min:1025px;
$media-desktop-max: 1200px;
$media-large-min: 1201px;
$media-870: 870px;
