.projects {
  &__years{
    font-size: 4rem;
    text-align: center;
    color: $white-text;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  & .projects__year-first, .projects__year-second, .projects__year-third{
    margin-bottom: 3rem;
  }
  & .projects__heading {
    margin-bottom: 4rem;
    & > span::selection {
      background: $white;
      color: black;
    }
    &::selection {
      background: $white;
      color: $white-text;
    }
  }
  & .projects__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px 300px;
    align-items: center;
    gap: 2.5rem;
  }
  & .projects__box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem black;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    &:hover {
      & img,i {
        transform: 1s ease;
        transform: scale(1.1);
      }
      & .projects__layer {
        transform: translateY(0);
      }
    }
    & img {
      width: 100%;
      transition: 0.5s ease;
    }
  }
  & .projects__layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), $white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
    & h5 {
      font-size: 3rem;
    }
    & p {
      font-size: 1.6rem;
      margin: 0.3rem 0 1rem;
    }
    & a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 5rem;
      background: $white-text;
      border-radius: 50%;
      .projects__layer a i {
        font-size: 2rem;
      }
    }
    & > h5::selection,
    & > p::selection {
      color: $white-text;
      background: $white;
    }
  }
  & .projects__stacks {
    width: 100%;
    display: flex;
    font-size: 3rem;
    height: 4rem;
    bottom: 0;
    position: absolute;
    align-items: center;
    flex-direction: row;
    z-index: 99;
    &> img{
      width: 34px;
      height: 34px;
      border: 0.2rem solid black;
      border-radius: 50%;
      margin: 0 0.5rem;
      z-index: 100;
    }
  }
  
  & .projects-made {
    border: 0.2rem solid black;
    border-radius: 50%;
    margin: 0 0.5rem;
    z-index: 100;
    &.bxl-html5 {
      background: $color-html;
      color: $white;
    }
    &.bxl-css3 {
      background: $color-css;
      color: $white;
    }
    &.bxl-php {
      background: $color-php-logo;
      color: $color-php;
    }
    &.bxl-postgresql {
      background: $white;
      color: $color-postgre-logo;
    }
    &.bxl-tailwind-css {
      background: $color-tailwind;
      color: $white;
    }
    &.bxl-react {
      background: $color-react;
      color: $white;
    }
    &.bxl-wordpress {
      background: $color-wordpress;
      color: $white;
    }
  }
  
  & .bx-link-external:before {
    color: $white;
    font-size: 2rem;
  }
  
}
